<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Recent protest movement in Puerto Rico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}"/>
</head>
<body>
    <p>
    <h1>Recent protest movement in Puerto Rico</h1>
    <h2>This application allows you to search and retrieve embed tweets related to the recent Puerto Rico protests movements in 2017 and 2019.</h2>

    <p>The application is using the <a href="https://catalog.docnow.io/" target= "Documenting The Now Tweet Catalog"> Documenting The Now Tweet Catalog</a>
        to retrieve around 4,000 tweets from two different data sets.</p>
    <p>The data sets used to create this project are produced by Joel Blanco-Rivera using the Documenting the Now Tools and TWARC command line program. </p>
    <p>The datasets are the following:</p>
    <ul>
        <li><a href="https://catalog.docnow.io/datasets/20190930-rickyrenuncia/" target= "RickyRenuncia"> RickyRenuncia</a></li>
        <li><a href="https://catalog.docnow.io/datasets/20170519-huelgaupr-tweets-april-20-may-18-2017/" target="#HuelgaUPR tweets, April 20 - May 18 2017">#HuelgaUPR tweets, April 20 - May 18 2017</a></li>
    </ul>
    <form action="/handle_form" method="POST">
        <p>Enter a word to search in the tweets full text and hashtags <input text="text" type="text"/><br/></p>
        <p>Select the data set you want to search:<br/>
            <input type="radio" name="database" value="RR">RickyRenuncia<br/>
            <input type="radio" name="database" value="HUPR">#HuelgaUPR tweets, April 20 - May 18 2017<br/>
            <input type="radio" name="database" value="ALL" checked>All<br/></p>
        <p>Select language:
        <select name="tweet_language">
            <option value="any">Any</option>
            {% for lang in languages %}
            <option value="{{lang}}">{{lang.upper()}}</option>
            {% endfor %}
        </select> </p>
        <p>Select User Location:
        <select name="tweet_location">
            <option value="any">Any</option>
            {% for loc in locations %}
            <option value="{{loc}}">{{loc}}</option>
            {% endfor %}
        </select> </p>

    </form>

<!--    -->
<!--        What's your name? -->
<!--        What's your secret? <input name="secret" type="password"/><br/>-->


<!--    <p>-->
<!--        Choose one! <br/>-->
<!--        <input type="radio" name="choice" value="choice1">Choice 1<br/>-->
<!--        <input type="radio" name="choice" value="choice2">Choice 2<br/>-->
<!--        <input type="radio" name="choice" value="choice3">Choice 3<br/>-->
<!--    </p>-->
<!--    <p>-->
<!--        Choose as many as you like! <br/>-->
<!--        <input type="checkbox" name="check1"> Option A <br/>-->
<!--        <input type="checkbox" name="check2"> Option B <br/>-->
<!--        <input type="checkbox" name="check3"> Option C <br/>-->
</body>
</html>
